<%= form_tag '/%20/annotate', id: 'annotate' do %>
<%= hidden_field_tag "namespace", @namespace %>
<%= hidden_field_tag "name", @name %>
<%= hidden_field_tag "text", @text %>
<label for="annotate-destination">AnnotateLink <span id="annotate-match"></span> to </label><label class="visible-label" for="annotate-destination">[</label><input name="destination" id="annotate-destination"></input><label class="visible-label" for="annotate-destination">]</label>
<% end %>
