<h1><%= @name %></h1>

<% if @nodes.blank? %>
  this nodeshell is empty
  <br>
  you could change that
<% end %>
<%= render partial: "node", collection: @nodes, locals: {current_user: @current_user} %>

<% if @current_user && !@your_node %>
  <%= render partial: "node_edit" %>
<% end %>
