<h1><%= @name %></h1>

<% if @nodes.blank? %>
  this nodeshell is empty
  <br>
  you could change that
<% end %>
<%= render partial: "node", collection: @nodes %>


<div>
  <h2><%= @name %> by you, last saved never</h2>
<textarea>
</textarea>
