<h1><%= @name %></h1>

<% if @nodes.blank? %>
  this nodeshell is empty
  <br>
  you could change that
<% end %>
<%= render partial: "node", collection: @nodes %>


<div>
<form method="POST">
  <h2><%= @name %> by you, last saved never</h2>
<textarea id="node-edit">
</textarea>
<input type="button" value="[save now]"></input>
</form>
</div>
