<div>
<% if invite.created_user %>
    an invitation was used by <%= invite.created_user %>
<% elsif invite.key.blank? %>
    an inactive invitation <%= form_tag "/%20/invite", method: "post", style: "display:inline" do %><input type="submit" value="[activate]"></input><input type="hidden" name="invite_number" value="<%= invite_counter %>"><% end %>
<% else %>
    tell one trusted friend their code word is "<em><%= invite.key %></em>"
<% end %>
</div>
