<form method="post">
<label for="login-name" class="login">name</label><input id="login-name" class="login"></input><br>
<label for="login-pass" class="login">pass</label><input id="login-pass" class="login" type="password"></input><br>
<label class="login"></label><input class="login button" type="submit" value="[sumbit]"></input>
</form>
