// Place all the styles related to the node controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 24px;
  font-family: 'Open Sans', Verdana, sans-serif;
  background-color: black;
  color: white;
  text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a {
  text-decoration: none;
  color: cyan;
}

a.new-link {
  color: maroon;
}

a.nodeshell {
  color: red;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h2.softlinks {
  font-style: italic;
}

textarea {
  font-size: 24px;
  font-family: 'Open Sans', Verdana, sans-serif;
  background-color: black;
  color: white;
  width: 80%;
  height: 100%;
  border: none;
  border-color: Transparent;
  outline: none;
  overflow: auto;
  resize: none;
  text-align:center;
}

input {
  font-size: 24px;
  font-family: 'Open Sans', Verdana, sans-serif;
  background-color: black;
  color: lightgreen;
  border: none;
  border-color: Transparent;
  overflow: auto;
}

input.login {
  border: 1px solid white;
  width:300px;
  margin:5px;
  padding: 5px;
}

input[type="submit"] {
  cursor: pointer;
}

input[name="secret"] {
  width: 50%;
  text-align:center;
}

input.login.button {
  border: none;
  width:305px;
  margin:5px;
  padding: 5px;
}

label.login {
  width:100px;
  display: inline-block;
  text-align: right;
  padding: 10px;
}

.denied {
  color: red;
}

#footer {
  padding-top: 40px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid white;
    border-width: 1px;
    width: 50%;
}
